#divmain{
    position: relative;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;

    width: 40%;
    height: 580px;

    align-items: center;

    border-radius: 25px;

    background-color: #F6F6F6;
    box-shadow: 0px 0px 100px 3px rgba(187, 187, 187, 0.582);
    
    margin: auto;
    z-index: 9;
}


#divsub{
    position: absolute;
    bottom: 0px;
    
    width: 100%;
    height: 20%;
    background-color: #111111;
    border-bottom-left-radius: 25px;    
    border-bottom-right-radius: 25px;
}
#btn-add-new-project{
    position: relative;
    float: right;
    top: 23px;
    right: 30px;

    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;

    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;

    border: none;
    border-radius: 12px;

    background-color: #FFCB74;
}

#label-addnew-proj{
    position: relative;
    float: left;
    top: 0px;
    left: 18px;

    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;

    font-size: 25px;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;

    border: none;
    border-radius: 12px;

    color: white;
}

/* inputs styling */
/* #proj_name{
    position: relative;
    top: 20px;
    left: 30px;
    float: left;

    width: 45%;

    border: none;
    border-radius: 10px;
    padding: 6px;

    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;

}
#client_name{
    position: relative;
    top: 20px;
    right: 30px;
    float: right;

    width: 45%;

    border: none;
    border-radius: 10px;
    padding: 6px;


    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;

}
#client_email{
    position: relative;
    top: 40px;
    left: 30px;
    float: left;

    width: 45%;

    border: none;
    border-radius: 10px;
    padding: 6px;


    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;

}
#date_initiated{
    position: relative;
    top: 40px;
    right: 30px;
    float: right;

    width: 33%;

    border: none;
    border-radius: 10px;
    padding: 5px;


    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}
#date-initiated-label{
    position: relative;
    float: right;
    right: 485px;
    top: -82px;
}

#ect{
    position: relative;
    top: 60px;
    left: 93px;
    float: left;

    width: 40%;

    border: none;
    border-radius: 10px;
    padding: 6px;


    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;

    z-index: 100;
}
#ect-label{
    position: relative;
    float: left;
    top: -79px;
    left: 30px;
}
#status-dropdown{
    position: relative;
    top: 60px;
    float: right;
    right: 30px;

    width: 46%;

    border: none;
    border-radius: 10px;
    padding: 6px;


    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;

    z-index: 100;
}
#collab-label{
    position: relative;
    float: left;
    top: -77px;
    left: 30px;
}
#collab{
    position: relative;
    top: 80px;
    float: left;
    left: 220px;

    width: 30%;

    border: none;
    border-radius: 10px;
    padding: 6px;


    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;

    z-index: 100;
} */
/* 
#phase{
    position: relative;
    top: 80px;
    float: right;
    right: 30px;

    width: 38%;

    border: none;
    border-radius: 10px;
    padding: 6px;


    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;

    z-index: 100;
} */
/* #phase-label{
    position: relative;
    float: right;
    top: -77px;
    right: 485px;
} */