@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


html, body{
    width: 100%;
    background-color: #FFFFFF;
    /* user-select: none;  */
    /* height: 9000px; */
}


/* HOMEBAR  BEGIN */
.div-homebar{
    position: absolute;
    position: fixed;
    width: 100%;
    height: 65px;
    left: 0px;
    top: 0px;

    z-index: 10;

    background-color: rgb(17, 17, 17);
    backdrop-filter: blur(15px);

}
/* .div-homebar > video{
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    transition: 0.3s;
} */

/* LOGO HEAD BEGIN */
.div-logo-head{
    position: absolute;
    top: -5px;
    height: 77px;
    width: 230px;
}
.div-logo-head> span > h2{
    position: absolute;
    position: fixed;
    float: left;
    top: -7px;
    left: 57px;

    color: #ededed;

    font-size: 28px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}
.div-logo-head> span > #logo-banner{
    position: absolute;
    float: left;
    top: 25px;
    left: 26px;

    width: 25px;
}
/* LOGO HEAD END */

/* searchbar BEGIN */
/* .div-searchbar{
    margin: auto;
} */

#id-searchbar-txt{
    position: absolute;
    width: 665px;
    height: 45px;
    left: 450px;
    top: 8.5px;
    background: rgba(255, 255, 255, 0.53);
    border: none;
    text-align: center;
    font-family: 'Manarope', sans-serif;
    font-size: 20px;
    appearance: none;
    outline: none;
    border-radius: 20px;
    z-index: 2;
}
#id-searchbar-txt:hover{
    transition: .3s;
    /* background-color: #ffffff; */
    border-color: none;
}#id-searchbar-txt:focus{
    transition: .3s;
    /* background-color: #ffffff; */
    border: none;
}
#id-searchbar-txt::placeholder{
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-size: 22px;
    color: #494848;
    transition: color .3s ease;
}
#id-searchbar-txt:focus::placeholder{
    transition: .3s;
    font-size: 22px;
    transform: translateY(-40px);
    color: transparent;
}
#id-searchbar-txt:not(focus)::placeholder{
    transition: .3s;
    font-size: 22px;
    
}
/* searchbar END */

/* profile icon BEGIN*/
/* .div-profile-util-outline{
    position: absolute;
    float: right;
    width: 97px;
    height: 45px;
    right: 30px;
    top: 8.5px;

    background: rgba(255, 255, 255, 0.53);
    border-radius: 20px;
    z-index: 2;
} */
/* .user-icon{
    position: absolute;
    width: 40px;
    height: 41.57px;
    left: 1306px;
    top: 18px;
} */
/* profile icon END*/

/* HOMEBAR END */



/* LEFT NAV PANEL BEGIN */
.left-nav-pane{
    position: absolute;
    position: fixed;
    float: left;
    width: 274px;
    height: 100%;
    left: 22px;
    top: 93px;
    height: 85%;

    background: #F6F6F6;
    
    filter: grayscale(1);
    
    border-radius: 30px;

    z-index: 0;
}
/* .left-nav-pane > video{
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    transition: 0.3s;
    border-radius: 30px;
    filter: grayscale(1);
    fill-opacity: 0.5;
    
} */
/* .left-nav-pane > img{
    background-image: url('/static/images/left-pane-bg.PNG');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} */
.left-nav-pane-btns{
    position: relative;
    top: 20px;
    text-align: left;
    left: 3px;
    /* background-color: red; */
}
.left-nav-pane-btns > a > input{
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    font-weight: normal;
    background-color: transparent;
    border: none;
    padding: 3.5px;
    padding-left: 25px;
    padding-right: 20px;
    line-height: 25px;
    margin-bottom: 5px;
}
.left-nav-pane-btns > a > input:hover{
    transform: scale(1.1);
    transform: translateX(10px);
    transition: .5s;
}
.left-nav-pane-btns > a > input:not(hover){
    transition: .5s;
}
#left-pane-footer{
    position: relative;
    position: fixed;
    bottom: 0px;

    width: 274px;
    border-top: .5px solid #afafaf;

    background: rgba(241, 241, 241, 0.24);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

    backdrop-filter: blur(20px);
}
#left-pane-footer > #c_name{
    position: relative;
    float: left;
    left: 20px;

    font-family: 'Rubik', sans-serif;
    font-weight: 400px;
    font-size: 22px;
}
#left-pane-footer > #icon-logout{
    position: relative;
    float: right;
    top: 22px;
    right: 30px;

    width: 27px;
    height: 27px;

    
}

.mid-panel-head{
    position: absolute;
    position: fixed;
    width: 80%;
    height: 90px;
    left: 332px;
    top: 60px;

    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 700px;
    font-size: 20px;
    letter-spacing: -1px;
    line-height: 50px;
    display: flex;
    align-items: center;
    text-transform: lowercase;

    color: #2F2F2F;
    background-color: rgba(255, 255, 255, 0.726);
    box-shadow: 0px 10px 10px 10px rgba(255, 255, 255, 0.712);
    backdrop-filter: blur(5px);

    z-index: 5;
}

/* .right-pane{
    position: absolute;
    position: fixed;
    float: right;
    width: 274px;
    height: 739px;
    right: 0px;
    top: 65px;
    background: #EFEFEF;
    z-index: 0;
}  */

.center-pane{
    position: absolute;
    top: 170px;
    left: 332px;
    width: 70%;
    height: 900px;
    
    z-index: 4;

    font-family: 'Rubik', sans-serif;
    font-weight: 400px;
    
    color: #2F2F2F;
    
}

.center-pane > #projects-display-table{
    font-size: 20px;
}

.right-pane{
    height: 100%;

    background: #444444;
}

.right-pane > .label{
    position: absolute;
    width: 274px;
    height: 40px;

    background: #D8D8D8;
}
.right-pane > .label > h1{
    font-size: 20px;
    font-family: 'Outfit', sans-serif;
    margin-left: 7px;
    margin-top: 7px;
}

#divmain{
    position: absolute;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;

    width: 50%;
    height: 430px;

    align-items: center;

    border-radius: 25px;

    background-color: #F6F6F6;
    box-shadow: 0px 0px 100px 3px rgba(187, 187, 187, 0.582);
    
    margin: auto;
    z-index: 9;
}

#divsub{
    position: absolute;
    bottom: 0px;
    
    width: 100%;
    height: 20%;
    background-color: #111111;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
#btn-add-new-project{
    position: relative;
    float: right;
    top: 23px;
    right: 30px;

    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;

    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;

    border: none;
    border-radius: 12px;

    background-color: #FFCB74;
}

#label-addnew-proj{
    position: relative;
    float: left;
    top: 0px;
    left: 18px;

    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;

    font-size: 25px;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;

    border: none;
    border-radius: 12px;

    color: white;
}

/* inputs styling */
#proj_name{
    position: relative;
    top: 20px;
    left: 30px;
    float: left;

    width: 45%;

    border: none;
    border-radius: 10px;
    padding: 6px;

    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;

}
#client_name{
    position: relative;
    top: 20px;
    right: 30px;
    float: right;

    width: 45%;

    border: none;
    border-radius: 10px;
    padding: 6px;


    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;

}
#client_email{
    position: relative;
    top: 40px;
    left: 30px;
    float: left;

    width: 45%;

    border: none;
    border-radius: 10px;
    padding: 6px;


    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;

}
#date_initiated{
    position: relative;
    top: 40px;
    right: 30px;
    float: right;

    width: 33%;

    border: none;
    border-radius: 10px;
    padding: 5px;


    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}
#date-initiated-label{
    position: relative;
    float: right;
    right: 485px;
    top: -82px;
}

#ect{
    position: relative;
    top: 60px;
    left: 93px;
    float: left;

    width: 40%;

    border: none;
    border-radius: 10px;
    padding: 6px;


    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;

    z-index: 100;
}
#ect-label{
    position: relative;
    float: left;
    top: -79px;
    left: 30px;
}
#status-dropdown{
    position: relative;
    top: 60px;
    float: right;
    right: 30px;

    width: 46%;

    border: none;
    border-radius: 10px;
    padding: 6px;


    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;

    z-index: 100;
}
#collab-label{
    position: relative;
    float: left;
    top: -77px;
    left: 30px;
}
#collab{
    position: relative;
    top: 80px;
    float: left;
    left: 220px;

    width: 30%;

    border: none;
    border-radius: 10px;
    padding: 6px;


    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;

    z-index: 100;
}

#phase{
    position: relative;
    top: 80px;
    float: right;
    right: 30px;

    width: 38%;

    border: none;
    border-radius: 10px;
    padding: 6px;


    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;

    z-index: 100;
}
#phase-label{
    position: relative;
    float: right;
    top: -77px;
    right: 485px;
}


/* table styles */


table{
    position: relative;
    color: black;
    width: 100%;
}
th{
    text-align: left;
    font-size: 23px;
}

td {
    width: 10%;
    line-height: 50px;
    text-align: left;
    vertical-align: top;

    font-size: 20px;

    word-wrap: normal;
}
#id-col{
    width: 4%;
}
#pname-col{
    width: 31%;
}
#cname-col{
    width: 15%;
}
#init-col{
    width: 17%;
}
#ect-col{
    width: 17%;
}
#pStatus-col{
    width: 16%;
}
#phase-col{
    
    width: 20%; 
}
#ops-icons{
    position: relative;
    left: 30px;
    margin-left: 15px;
       
}
tr:hover{
    /* transform: translateX(2px); */
    transition: .3s;
}
tr:not(hover){
    transition: .3s;

}

#edit-icn{
    position: relative;
    top: 2px;
}
#edit-icn:hover{
    transform: scale(0.8);
    transition: .2s;
}
#edit-icn:not(hover){
    transition: .3s;
}
#del-icn{
    position: relative;
    top: 2px;
}
#del-icn:hover{
    transform: scale(0.8);
    transition: .2s;
}
#del-icn:not(hover){
    transition: .3s;
}
#expand-icn{
    position: relative;
    top: 3px;
}
#expand-icn:hover{
    transform: scale(0.8);
    transition: .2s;
}
#expand-icn:not(hover){
    transition: .3s;
}
