@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* universal settings */
body{
    background-color: black;
    user-select: none;
}
*{
    font-family: 'Inter', sans-serif;
}
/* universal settings */

/* background BEGIN*/
#shape1{
    position: absolute;
    position: fixed;
    float: left;
    top: -140px;
    left: -50px;

    height: 250px;
    width: 400px;
    
    transform: rotate(180deg);
    
    padding: 170px;
    
    border-radius: 150px 200px 0 0;
    background-color: rgb(117, 1, 30);
    filter: blur(6rem);
}

#shape2{
    position: absolute;
    position: fixed;
    float: right;
    bottom: -140px;
    right: -50px;

    height: 250px;
    width: 400px;
    
    transform: rotate(deg);
    
    padding: 170px;
    
    border-radius: 150px 200px 0 0;
    background-color: #042c4e;
    filter: blur(6rem);
}
/* background END*/

/* LEFT NAV BEGIN */
#left-nav{
    position: relative;
    float: left;
    top: 12px;
    left: 13px;

    width: 10%;
    height: calc(650px - 115px);

    border: none;
    /* border-color: blue; */
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.24);

    /* backdrop-filter: blur(10px); */
}
/* LEFT NAV END */

.frame{
    position: relative;
    top: 60px;

    width: 50%;
    height: 650px;

    /* border-color: red; */
}
#greeter{
    position: relative;
    top: -25px;

    width: 99.6%;
    height: 95px;

    border: none;
    border-radius: 20px;
    /* background-color: rgba(99, 99, 99, 0.226); */
    border-color: blue;

    /* backdrop-filter: blur(3rem); */
}
#greeter > h1{
    margin-left: 15px;
    text-align: left;
    font-weight: 800;
    font-size: 40px;

    color: white;
}
#greeter > p{
    margin-top: -2%;
    margin-left: 15px;
    text-align: left;
    font-weight: 500;
    font-size: 25px;

    letter-spacing: -.5px;

    color: rgb(255, 255, 255);
}
#frame_body{
    position: relative;
    top: 14px;
    left: 11px;

    width: 99.6%;
    height: calc(650px - 115px);

    border: none;
    /* border-color: blue; */
    border-radius: 20px;
    /* background-color: rgba(128, 128, 128, 0.24); */

    /* backdrop-filter: blur(10px); */
}

/* PERCENTAGE BOX BEGIN */
#percentage{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 30%;
    height: 30%;
    float: left;
    background-color: rgba(128, 128, 128, 0.226);
    
    color: rgb(33, 241, 78);
    border: none;
    border-radius: 10px;
    padding: 10px;

    animation: percentageAnim 0.6s ease 0s 1 normal forwards;
}
@keyframes percentageAnim{
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
	}
}
#percentage > h1{
    margin-top: 20px;
    font-size: 100px;
    font-weight: 900;
    transition: .3s;
}
sup{
    transition: .1s;
    font-size: 50px;
}
/* PERCENTAGE BOX END */

/* PROJECT NAME BEGIN */
#proj-name{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 63%;
    height: 11.5%;
    float: right;
    background-color: rgba(128, 128, 128, 0.226);
    
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    
    animation: proj-nameAnim 0.7s ease 0s 1 normal forwards;

}
@keyframes proj-nameAnim{
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
	}
}
/* PROJECT NAME END */

/* PROJECT HANDLER HEAD BEGIN */
#name-of-staff-head{
    position: absolute;
    top: 99px;
    right: 0px;
    width: 63%;
    height: 11.5%;
    float: right;
    background-color: rgba(128, 128, 128, 0.226);
    
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;

    animation: name-of-staff-headAnim 0.7s ease 0s 1 normal forwards;
}
@keyframes name-of-staff-headAnim{
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
	}
}
/* PROJECT HANDLER HEAD END */

#temporary{
    display: block;

    position: absolute;
    top: 199px;
    /* right: 0px; */
    width: 97.5%;
    height: 38%;
    /* float: right; */
    background-color: rgba(128, 128, 128, 0.226);
    
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;

    text-align: left;

    animation: temporaryAnim 0.8s ease 0s 1 normal forwards;
}
@keyframes temporaryAnim{
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
	}
}

#payment{
    display: block;

    position: absolute;
    top: 440px;
    /* right: 0px; */
    width: 97.5%;
    height: 23%;
    /* float: right; */
    background-color: rgba(128, 128, 128, 0.226);
    
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;

    text-align: left;
    
    animation: paymentAnim 0.8s ease 0s 1 normal forwards;
}
@keyframes paymentAnim{
	0% {
		transform: scale(0);
	}

	100% {
		transform: scale(1);
	}
}

@media all and (max-width: 1999px){
    
}


/* light mode settings */
/* @media screen and (prefers-color-scheme: light) {
    body {
      background-color: white;
      color: black;
    }
} */
    

/* dark mode settings */
@media (prefers-color-scheme: dark) {

}

p{
    color: white;
}