{% load static %}

<!DOCTYPE html>
<html  onclick="closeForm()" id="html" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instat - Dashboard</title>

    <!-- linking of files  -->
    <script src="{% static '/js/dashboard.js' %}"></script>
    <link rel="icon" type="image/x-icon" href="{% static '/images/instat-logo-yellow.ico' %}">
    <link rel="stylesheet" href="{% static '/css/dashboard.css' %}">
    <!-- linking of files  -->

    <!-- google fonts preconnect  -->
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    
</head>
<body id="body" onload="alert_No_access_to_mobile()">

    <!-- homebar begin -->
    <div class="div-homebar">
        <!-- <video autoplay muted loop src="/static/videos/anim-mesh-gradient-1.mp4"></video> -->
        <center>
            <div class="div-searchbar">
                <span>
                    <!-- icon -->
                    <!-- <input type="text" placeholder="search projects" name="searchbar-txt" id="id-searchbar-txt"> -->
                </span>
            </div>
        </center>

        <div class="div-profile-util-outline">
            <span>
                <div class="user-icon">
                    
                </div>
            </span>
        </div>

        <div class="div-logo-head">
            <span>
                <img id="logo-banner" src="{% static '/images/logo-banner-yellow-tsprnt-2.png' %}" alt="logo-banner">
                <h2>dashboard</h2>
            </span>
        </div>
    </div>
    <!-- homebar end -->

    <!-- left-navigation panel BEGIN -->
    <div class="left-nav-pane">
        <!-- <video autoplay muted loop src="/static/videos/anim-mesh-gradient-1.mp4"></video> -->
        <!-- <img src="/static/images/left-pane-bg.PNG" alt=""> -->
        <div class="left-nav-pane-btns">
            <img style="position:relative; float:left; left:16px; top:4px;" width="25px" height="25px" src="https://img.icons8.com/ios-glyphs/30/000000/add--v1.png"/><input type="button" value="new project" id="btn-new-proj" onclick="showDiv()"> <br style="line-height: 3px;">
            <img style="position:relative; float:left; left:17px; top:4px;" width="24px" height="24px" src="https://img.icons8.com/ios-glyphs/30/000000/statistics--v1.png"/><input type="button" value="mini stats" id="btn-mini-stats"> 
        </div>
        <div id="left-pane-footer">
            <h3 id="c_name">Some Person</h3>
            <img id="icon-logout" src="https://img.icons8.com/ios-glyphs/30/000000/logout-rounded--v1.png"/>
        </div>
    </div>
    <!-- left-navigation-panel END -->


    <!-- mid-panel BEGIN -->
    <div class="mid-panel-head">
        <h1 style="position: fixed;">your projects</h1>
    </div>
    <!-- mid-panel END -->

    <!-- right-panel BEGIN -->
    <!-- <div class="right-pane">
        <div class="label">
            <h1>projects registered</h1>
        </div>
    </div> -->
    <!-- right-panel END -->

    <!-- center-pane BEGIN-->
    <div class="center-pane">
        <table id="projects-display-table">
            <tr>
                <th>Project</th>
                <th>Client</th>
                <th>Initiated on</th>
                <th>ECT</th>
                <th>Status</th>
                <th>Phase</th>
            </tr>

            {% for project in projects %}
            <tr>
                <td>{{project.p_name}}</td>
                <td>{{project.c_name}}</td>
                <td style="color: black;">{{project.init_date}}</td>
                <td style="color: red;">{{project.ect}}</td>
                <td>{{project.status}}</td>
                <td>{{project.phase}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <!-- center-pane END-->

    <center>
        <div id="divmain">
            <form action="" method="post">
                <table>
                    <tr>
                        <input autofocus="on" placeholder="project name" type="text" name="proj_name" id="proj_name" >
                        <input placeholder="client name" type="text" name="client_name" id="client_name" >
                    </tr>
                    <tr>
                        <input placeholder="client email" type="email" name="client_email" id="client_email" autofocus="on" >
                        <input placeholder="date initiated" type="date" name="date_initiated" id="date_initiated" >
                    </tr>
                </table>
                <footer id="divsub">
                    <h2 id="label-addnew-proj">add new project</h2> 
                    <button id="btn-add-new-project" type="submit">add project ></button>
                    <button id="btn-close" type="submit" >&#x2715</button>
                </footer>
            </form>
        </div>
    </center>

</body>
</html>