{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta name="description" content=""> -->
    <title>Status</title>
    <link rel="icon" type="image/x-icon" href="{% static '/images/instat-logo-yellow.ico' %}">
    <link rel="stylesheet" href="{% static '/css/status.css' %}">
    <!-- <script src="{% static '/js/status.js' %}"></script> -->
    <script type="text/javascript">
        function showPercentage(){
            var phase_no = document.getElementById("receivedVal").value;

            var percentage = (phase_no / 10) * 100;

            document.getElementById("receivedVal").innerHTML = percentage;
        }
    </script>
</head>
<body >
    <div id="shape1"></div>
    <div id="shape2"></div>
    <center>
        <div class="frame">
            <div id="greeter">
                <h1 id="name">Hello, {{projects.c_name}}!</h1>
                <p>Your project has come this far</p>
            </div>
            <div id="frame_body">
                <div id="percentage"><h1 id="receivedVal">{{projects.phase_percentage}}<sup>%</sup></h1></div>
                <div id="proj-name"><p id="proj-name-p">{{projects.p_name}}</p></div>
                <div id="name-of-staff-head"><p>Supervised by Mr. X</p></div>
                <div id="temporary">
                    <p>Status -{{projects.status}}</p> <br>
                    <p>Phase -{{projects.phase}}</p> <br>
                    <p>Collaborators -{{projects.collab}}</p> 
                </div>
                <div id="payment" onload="showPercentage()">
                    <p>UPI ID {{project.status}}</p> <br> 
                    <p>Crypto Address {{project.phase}}</p> <br>
                </div>
            </div>
        </div>
    </center>
</body>
</html>

