{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="hfasidhhfsiiahf">
    <title>Status</title>
    <link rel="stylesheet" href="{% static '/css/status.css' %}">
    <script src="{% static '/js/status.js' %}"></script>
</head>
<body onload="animate()">
    <div id="shape1"></div>
    <div id="shape2"></div>
    <center>
        <div class="frame">
            <div id="greeter">
                <h1>Hi Karan!</h1>
                <p>Your project has come this far</p>
            </div>
            <div id="frame_body">
                <div id="date"><h1>89<sup>%</sup></h1></div>
                
            </div>
        </div>
    </center>
</body>
</html>

